<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Forums Workshop</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <h1>One Million</h1>
    </header>
    <main>
      <h2><a href="#">Member profile</a></h2>
      <hr>
      <button class="button" type="button" name="button">Create</button>
      <table>
        <tr>
          <th>Title</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr>
          <td>topic 1</td>
          <td><a href="#">edit</a></td>
          <td>delete</td>
        </tr>
        <tr>
          <td>topic 2</td>
          <td><a href="#">edit</a></td>
          <td>delete</td>
        </tr>
        <tr>
          <td>topic 3</td>
          <td><a href="#">edit</a></td>
          <td>delete</td>
        </tr>
      </table>
    </main>
  </body>
</html>
