<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Forums Workshop</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <h1>One Million</h1>
    </header>
    <main>
      <h2><a href="#">Member profile</a></h2>
      <hr>
      <button class="button" type="button" name="button">Create</button>
      <table>
        <tr>
          <th>Title</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr>
          {% for post in posts %}
          <tr>
            <td>{{post.title}}</td>
            <td><button>edit</button></td>
            <td><button>delete</button></td>
          </tr>
          {% endfor %}
      </table>
    </main>
  </body>
</html>
