header{
  text-align: center;
  color: red;
  background-color: yellow;
}

h2{
  text-align: center;
  color: blue;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.button{
  color: white;
  background-color: black;
  padding: 5px;
  margin-bottom: 10px;
}
